
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <h1>Choose option </h1>
        <br />
        <br />
        <a href="/Calc/Add/20/30">20 + 20 (/Calc/Add/2/3)</a><br />
        <a href="/Calc/Mul/20/30">20 + 20 (/Calc/Mul/2/3)</a><br />
        <a href="/Calc/Sub/20/30">20 + 20 (/Calc/Sub/2/3)</a><br />
        <a href="/Calc/Div/20/30">20 + 20 (/Calc/Div/2/3)</a><br />
    </div>
</body>
</html>
