<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
</head>
<body>
    <h1>
    </h1>

    @*Визуализация представления, которое использует данную компоновку*@
    @RenderBody()

    <h3>
        Tigran Vardanyan
    </h3>
</body>
</html>