
@{
Layout = "~/Views/Shared/_Layout.cshtml";
ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce
    varius nisl ac ipsum gravida vel pretium tellus.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce
    varius nisl ac ipsum gravida vel pretium tellus.
</p>